= form_for @meta_key_definition, :url => url, :remote => remote do |f|
  %table
    %tr
      %td
      %td= f.submit submit

:javascript
  $(document).ready(function(){
    $("ul.sortable").sortable({
      handle: 'span.handler',
      axis: 'y'
    });

    $('form.edit_meta_key').submit(function(){
      $('#term_positions').val($("ul.sortable").sortable("serialize"));
    });     
  });
