#visualization
  display: block
  position: relative

  #controls
    >* 
      margin: 10px
      >*
        margin: 3px
    margin: 5px
    background-color: white
    border: 1px solid black
    display: inline-block
    height: 600px
    width: 300px
    position: absolute
    right: 0

  svg#drawing
    .MediaSet
      fill: Red
    .MediaEntry
      fill: Blue
    .MediaEntryIncomplete
      fill: LightGray
    margin: 10px
    border: 1px solid black
    background: white
    #graph
      line.link
        stroke: black
        stroke-width: 3px
      rect#bbox
        fill: none
        stroke: gray
        stroke-width: 1px
      circle#center
        fill: none
        stroke: gray
        stroke-width: 1px

        
        

